.text-field-wrapper {

}

.text-field-label {

}
.text-field {
    width: 100%;
    padding: 0 8px;
    &:hover {}
    &:active {
        outline: none;
    }
    &:focus {
        outline: none;
    }
}
.text-field.error {
    border: 1px solid red;
    background: rgba(255,0,0,0.1);
}
.text-field-required {
    font-size: 18px;
    color: red;
}
.text-field-error {
    color: red;
}
.text-field-multiline {
    width: 100%;
    min-height: 28px;
    resize: none;   //vertical;
}
.text-field-clearable {
    padding-right: 24px;
}