.splitter-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.split-handler {
    position: relative;
    z-index: 99;
    overflow: visible;

    .splitter-horizontal > & {
        width: 100%;
        cursor: n-resize;
        height: 6px;
        & .ui-split-sensitive {
            height: 6px;
            top: -3px;
        }
    }
    .splitter-vertical > & {
        height: 100%;
        width: 6px;
        cursor: w-resize;
        & .ui-split-sensitive {
            width: 6px;
            left: -3px;
        }
    }
}
.split-sensitive {
    position: relative;
    height: 100%;
    width: 100%;
}