.drop-list {
    //display: inline-block;
    border: 1px solid #ccc;
    max-width: 300px;
    padding: 4px 8px;
    cursor: pointer;
}
.dropdown-list {
    position: absolute;
    opacity: 1;
    &.hidden {
        opacity: 0;
        top: -10000px !important;
    }
    & .list {
        margin-top: -1px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
        & .list-item {
            &:first-child, 
            &:last-child {border-radius: 0;}
        }
    }
    
}