.drop-list {
    //display: inline-block;
    position: relative;
    border: 1px solid #ccc;
    max-width: 300px;
    padding: 4px 8px;
    height: 34px;
    cursor: pointer;
    & .list-item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: none;
        line-height: 24px;
        height: 32px;
        padding: 4px 8px;
        & .icon:first-child {
            margin-right: 12px;
        }
    }
}
.dropdown-list {
    position: absolute;
    opacity: 1;
    visibility: visible;
    margin-top: -1px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    &.hidden {
        opacity: 0;
        visibility: hidden;
        top: -10000px !important;
    }
    & .list-item {
        &:first-child, 
        &:last-child {border-radius: 0;}
    }
    
}