.upload-container {
    display: block;
    width: 100%;
    outline: 1px dashed #5d5d5d;
    outline-offset: -1px;
    
    &.dragover {
        background-color: #fafafa;
        outline-offset: -3px;
    }

    & input[type="file"]{
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        position: absolute;
        z-index: -10;
    }
}
.upload {
    display: block;
    width: 100%;
    min-height: 28px;
    border: 1px dotted #ccc;
    background: #f5f5f5;
    padding: 0 16px;
    line-height: 26px;
    color: #888;
    user-select: none;
    cursor: pointer;
}
.upload-list-files {
    display: block;
    position: relative;
    border: 1px solid #ddd;
    &:empty {
        border: none;
    }
    &__item {
        display: flex;
        font-size: 12px;
        
        padding: 3px 8px;
        border-bottom: 1px solid #ddd;
        &:last-child {
            border-bottom: none;
        }
    }
    &__name {
        flex: 1;
    }
    &__remove {
        flex: none;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.4s ease; 
        &:hover { opacity: 0.8;}
        &:active { opacity: 1;}
    }
}
.upload-file__icon {
    width: 12px;
    height: 12px;
    margin-right: 6px;
    margin-top: -2px;
}
