.cos-collapse {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #ddd;
    border-bottom: 0;
    border-radius: 3px;
    &__item {
        
        &:not(:last-child){

        }
    }
    &__header {
        position: relative;
        padding: 8px 16px;
        padding-left: 40px;
        color: #333;
        background: #f6f6f6;
        line-height: 1.5;
        cursor: pointer;
        transition: all .5s;
        border-bottom: 1px solid #DDD;
        user-select: none;
        &::before {
            content: '';
            width: 10px;
            height: 10px;
            background: url(/src/components/collapse/icons/collapsed.svg) center center no-repeat;
            position: absolute;
            left: 16px;
            top: 14px;
            transition: all .3s;
        }
    }
    &__item.open &__header {
        
        &::before {
           transform: rotate(90deg); 
        }

    }

    &__content {
        position: relative;
        overflow: hidden;
        color:#333;
        background-color: #fff;
        height: 0;
        transition: height .5s ease;
        & > * {
            padding: 8px 16px;
        }
    }
    &__item &__content {
        height: 0;
        overflow: hidden;
        transition: height 0.2s ease;
    }    
    &__item.open &__content {
        border-bottom: 1px solid #ddd;
        height: auto;
    }
}