.cos-collapse {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #ddd;
    border-bottom: 0;
    border-radius: 2px;
    &__item {
        border-bottom: 1px solid #DDD;
        &:not(:first-child){
            margin-top: -2px;
        }
    }
    &__header {
        position: relative;
        padding: 8px 16px;
        padding-left: 40px;
        margin-top: -1px;
        color: #333;
        background: #f6f6f6 url(/src/components/collapse/icons/collapsed.svg) 16px center no-repeat;
        line-height: 1.5;
        cursor: pointer;
        transition: all .5s;
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;  
        user-select: none;
    }
    &__item:last-child:not(.open) &__header {
        border-bottom-width: 0px;
    }
    &__content {
        position: relative;
        overflow: hidden;
        color:#333;
        background-color: #fff;
        height: 0;
        transition: height .5s ease;
        & > * {
            padding: 8px 16px;
        }
    }
    &__item.open &__header {
        background: #f6f6f6 url(/src/components/collapse/icons/open.svg) 16px center no-repeat; 
    }
    &__item.open &__content {
        height: auto;transition: height .5s ease;
    }
}