@maxHeight: 700px;

.cos-collapse {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #ddd;
    border-radius: 3px;
    &__item {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        margin-top: -1px;
        &:last-child {
            border-bottom: 0;
        }
    }
    &__header {
        position: relative;
        padding: 8px 16px;
        padding-left: 40px;
        color: #333;
        background: #f6f6f6;
        line-height: 1.5;
        cursor: pointer;
        border-bottom: 1px solid #DDD;
        user-select: none;
        z-index: 1;
        &::before {
            content: '';
            width: 10px;
            height: 10px;
            background: url(/src/components/collapse/icons/collapsed.svg) center center no-repeat;
            position: absolute;
            left: 16px;
            top: 14px;
            transition: all .3s;
        }
    }
    &__item.open &__header {
        border-bottom: 1px solid #DDD;
        &::before {
           transform: rotate(90deg); 
        }
    }

    &__content {
        position: relative;
        overflow: hidden;
        color:#333;
        margin-top: -1px;
        height: auto;
        & > * {
            padding: 8px 16px;
        }
    }
}

//.collapse-
.collapse-enter {
    height:0;
    display: block;
    transition: height 300ms ease-in;
}
// .collapse-enter-done{
// }
// .collapse-enter-active{
// }

.collapse-exit{
    transition: height 300ms ease-in;
}
// .collapse-exit-active{
// }
.collapse-exit-done{
    height: 0;
}
