.tooltip-wrapper {
    // position: relative;
    // display: inline-block;
}
.tooltip-element {
    position: absolute;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    opacity: 1;
    visibility: visible;
    .triangle();
    &.hidden {
        opacity: 0;
        visibility: hidden;
        top: -10000px !important;
    }
}
.tooltip-target-element {
    cursor: pointer;
}


.triangle(){
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-width: 0 6px 11px 6px;
        border-color: transparent transparent #ccc transparent;
        border-style: solid;
        top: -11px;
        left: calc(50% - 6px);
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-width: 0 5px 10px 5px;
        border-color: transparent transparent #fff transparent;
        border-style: solid;
        top: -10px;
        left: calc(50% - 5px);
    }
}